
@using ProSchool.Web.Framework.UI;
@{
    ViewBag.Title = "Index";
    Html.SetActiveMenuItemSystemName("System");
}

<section class="content-header">
    <h1>
        Settings
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Settings/Index"><i class="fa fa-dashboard"></i>Settings</a></li>
        <li class="active">System</li>
    </ol>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12"></div>
    </div>
</section>
