
@using ProSchool.Web.Framework.UI;
@{
    ViewBag.Title = "Institution";
    Html.SetActiveMenuItemSystemName("Institution");
}

<section class="content-header">
    <h1>
        Subjects
        <small>Subjects settings</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Settings/System"><i class="fa fa-dashboard"></i>Settings</a></li>
        <li class="active">Subjects</li>
    </ol>
</section>
<section class="content" ng-controller="InstitutionController">
    <div class="row">
        <div class="col-md-12">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tabClass" data-toggle="tab" data-tab-name="Class">Subjects</a>
                    </li>
                    <li>
                        <a href="#tabBatch" data-toggle="tab" data-tab-name="Batch">Batches</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tabClass" class="tab-pane active">
                        <div class="row">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3 text-right" style="padding-bottom: 10px;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info" ng-click="OnAddNewClass()"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-info" ng-click="OnFilterClassClick()"><i class="fa fa-filter"></i></button>
                                    @*<button type="button" class="btn btn-info"><i class="fa fa-file-excel-o"></i></button>
                                    <button type="button" class="btn btn-info"><i class="fa fa-file-pdf-o"></i></button>
                                    <button type="button" class="btn btn-info"><i class="fa fa-print"></i></button>*@
                                    <button type="button" class="btn btn-info" ng-click="OnRefreshClass()"><i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                        <jqx-grid jqx-sortable="true" jqx-editable="true" jqx-theme="theme" jqx-filterable="ShowClassFilter" jqx-showfilterrow="ShowClassFilter"
                                  jqx-source="ClassSource" jqx-instance="GrdClass"
                                  jqx-selectionmode="'none'" jqx-editmode="'selectedrow'" jqx-width="'100%'" jqx-filterrowheight="35"
                                  jqx-columnsheight="40" jqx-rowsheight="35" jqx-on-cellendedit="OnClassCellEndEdit(event)"
                                  jqx-columns="[
                                            { text: 'Id', datafield: 'Id', hidden: true, editable: false},
                                            { text: 'Name', datafield: 'Name', columntype: 'textbox', filtertype: 'input', width: 200 },
                                            { text: 'Description', datafield: 'Description', columntype: 'textbox', filtertype: 'input'},
                                            { text: 'Edit', width: 70, align: 'center', sortable: false, editable: false, filterable: false, cellsrenderer: ClassEditCellRenderer},
                                            { text: 'Delete', width: 50, align: 'center', sortable: false, editable: false, filterable: false, cellsrenderer: ClassDeleteCellRenderer}]"></jqx-grid>
                    </div>
                    <div id="tabBatch" class="tab-pane">
                        <div class="row">
                            <div class="col-md-9">
                            </div>
                            <div class="col-md-3 text-right" style="padding-bottom: 10px;">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-info" ng-click="OnAddNewSection()"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-info" ng-click="OnFilterSectionClick()"><i class="fa fa-filter"></i></button>
                                    @*<button type="button" class="btn btn-info"><i class="fa fa-file-excel-o"></i></button>
                                    <button type="button" class="btn btn-info"><i class="fa fa-file-pdf-o"></i></button>
                                    <button type="button" class="btn btn-info"><i class="fa fa-print"></i></button>*@
                                    <button type="button" class="btn btn-info" ng-click="OnRefreshSection()"><i class="fa fa-refresh"></i></button>
                                </div>
                            </div>
                        </div>
                        <jqx-grid jqx-sortable="true" jqx-editable="true" jqx-theme="theme" jqx-filterable="ShowSectionFilter" jqx-showfilterrow="ShowSectionFilter"
                                  jqx-source="SectionSource" jqx-instance="GrdSection" jqx-enabletooltips="true"
                                  jqx-selectionmode="'none'" jqx-editmode="'selectedrow'" jqx-width="'100%'" jqx-filterrowheight="35"
                                  jqx-columnsheight="40" jqx-rowsheight="35" jqx-on-cellendedit="OnSectionCellEndEdit(event)"
                                  jqx-columns="[
                                            { text: 'Id', datafield: 'Id', hidden: true, editable: false},
                                            { text: 'Name', datafield: 'Name', columntype: 'textbox', filtertype: 'input', width: 200 },
                                            { text: 'Subject', datafield: 'SubjectName', columntype: 'textbox', filtertype: 'input', width: 200 },
                                            { text: 'Capaciy', datafield: 'Capacity', validation: CapacityValidation, filtertype: 'numeric', width: 200 },
                                            { text: 'Description', datafield: 'Description', columntype: 'textbox', filtertype: 'input'},
                                            { text: 'Edit', width: 70, align: 'center', sortable: false, editable: false, filterable: false, cellsrenderer: SectionEditCellRenderer},
                                            { text: 'Delete', width: 50, align: 'center', sortable: false, editable: false, filterable: false, cellsrenderer: SectionDeleteCellRenderer}]"></jqx-grid>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <jqx-window jqx-instance="WinAddNewClass" jqx-theme="theme" jqx-width="510" jqx-height="240" jqx-auto-open="false" jqx-is-modal="true"
                jqx-animation-type="WindowAnimationType" jqx-resizable="false" class="window-position">
        <div>Add New</div>
        <div jqx-validator jqx-instance="SubjectValidator" jqx-hint-type="'label'" jqx-rules="SubjectRules" class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtName">Name</label>
                    <input type="text" class="form-control" id="txtName" placeholder="Name" ng-model="Subject.Name" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtDesc">Description</label>
                    <input type="text" class="form-control" id="txtDesc" placeholder="Description" ng-model="Subject.Description" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary button-width float-right" ng-click="OnSaveSubject()">Save</button>
                </div>
            </div>
        </div>
    </jqx-window>

    <jqx-window jqx-instance="WinAddNewSection" jqx-theme="theme" jqx-width="500" jqx-height="280" jqx-auto-open="false" jqx-is-modal="true"
                jqx-animation-type="WindowAnimationType" jqx-resizable="false">
        <div>Add New</div>
        <div jqx-validator jqx-instance="BatcheValidator" jqx-hint-type="'label'" jqx-rules="BatcheRules" class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtBatchName">Name</label>
                    <input type="text" class="form-control" id="txtBatchName" placeholder="Name" ng-model="Batche.Name" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtsub">Subject</label>
                    <jqx-drop-down-list  id="txtsub"
                                         jqx-theme="theme" jqx-height="32" jqx-width="'100%'"
                                         jqx-display-member="'Name'"
                                         jqx-value-member="'Id'"
                                         jqx-source="ClassSource"
                                         jqx-selected-index="0"
                                         ng-model="Batche.SubjectId"
                                         jqx-instance="ddlSubject"
                                         jqx-auto-drop-down-height="true"></jqx-drop-down-list>
                                       
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="txtCap">Capacity</label>
                    <jqx-number-input id="txtCap" jqx-theme="theme" jqx-height="32" jqx-decimal="1" jqx-decimal-digits="0" jqx-digits="2" jqx-min="1" jqx-max="99" jqx-value="1" jqx-spin-buttons="true" jqx-input-mode="'simple'" class="form-control"  ng-model="Batche.Capacity"></jqx-number-input>
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <label for="txtDesc">Description</label>
                    <input type="text" class="form-control" id="txtDesc" placeholder="Description" ng-model="Batche.Description" />
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group">
                    <button type="button" class="btn btn-block btn-primary button-width float-right" ng-click="OnSaveBatche()">Save</button>
                </div>
            </div>
        </div>
    </jqx-window>
</section>
@section scripts {
    <script type="text/javascript" src="~/js/Settings/InstitutionController.js"></script>
}

<style type="text/css">
    .jqx-validator-error-label {
        display: none !important;
    }
</style>
