<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" Title="Alchemy Music School" PermissionNames="Admin" controller="Home" action="Index">
    <siteMapNode SystemName="Dashboard" Title="Dashboard" PermissionNames="Admin" controller="Home" action="Index" IconClass="fa-dashboard" />

    <siteMapNode SystemName="Settings" Title="Settings" PermissionNames="Admin" IconClass="fa fa-cogs">
      <siteMapNode SystemName="System" Title="System" PermissionNames="Admin" controller="Settings" action="System" IconClass="fa-cog"/>
      <siteMapNode SystemName="Infrastructure" Title="Divisions" PermissionNames="Admin" controller="Settings" action="Infrastructure" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Institution" Title="Institution" PermissionNames="Admin" controller="Settings" action="Institution" IconClass="fa-university"/>
    </siteMapNode>
    
    <siteMapNode SystemName="Academics" Title="Processes" PermissionNames="Admin" IconClass="fa fa-desktop">
      <siteMapNode SystemName="Inquiry" Title="Inquiry" PermissionNames="Admin" controller="Academics" action="Inquiry" IconClass="fa-file-text"/>
      <siteMapNode SystemName="Registrations" Title="Registrations" PermissionNames="Admin" controller="Academics" action="Registrations" IconClass="fa-file-text"/>
      <siteMapNode SystemName="Students" Title="Students" PermissionNames="Admin" controller="Academics" action="Students" IconClass="fa-user-circle"/>
    </siteMapNode>

    <siteMapNode SystemName="Finance" Title="Finance" PermissionNames="Admin" IconClass="fa ion-cash">
      <siteMapNode SystemName="Fee" Title="Fee" PermissionNames="Admin" controller="Finance" action="Fee" IconClass="fa-rupee"/>
      <siteMapNode SystemName="Accounts" Title="Accounts" PermissionNames="Admin" controller="Finance" action="Accounts" IconClass="fa-calculator"/>
    </siteMapNode>
    
  </siteMapNode>
</siteMap>

